.footer{
  width: 100%;
  background-color: #213159;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 0.75%;
  font-size: 0.8rem;
  font-family: 'Roboto Mono', monospace;
}