

.resort-details {
  font-family: 'Roboto Mono', monospace;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}



.selector-results-top {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.6), rgba(245, 246, 252, 0.8)),url('../../../public/project-images/mountain_4.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 1.5%;
  width: 100vw;
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
  h1 {
    margin: 0;
    padding-top: 0%;
    font-size: 3rem;
    font-family: 'Faster One';
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 7px;
    word-spacing: 10px;
    color: #213159;
    text-align: center;
    padding-top: 2%;
  }
  .results-overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #213159;
    .results-description {
      width: 60%;
      padding-left: 0%;
      margin-top: 1%;
      padding-right: 0%;
      text-align: center;
      h2 {
        padding: 0;
        font-weight: 800;
        font-size: 1.2rem;
      }
      h3 {
        font-size: 1rem;
        font-weight: lighter;
        span {
          font-weight: bold;
          color: #b42033;
        }
        // text-align: center;
      }
    }
    .results-detail {
      width: 700px;
      margin-top: 1%;
      // margin-left: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        margin-bottom: 1%;
        padding-left: 0;
        // padding-left: 4%;
        font-weight: 800;
        font-size: 1.2rem;
        // text-align: center;
      }
      .bar-chart-array {
        margin-bottom: 1%;
        display: flex;
        align-items: center;
        width: 80%;
        .rating-title {
          width: 100px;
          // text-align: right;
        }
        .bars{ 
          width: 6%;
          background-color: #b42033;
          color: #b42033;
        }
        // .bars:first-child {
        //   border-top-left-radius: 7px;
        //   border-bottom-right-radius: 7px;
        // }
        .blank-bars{ 
          width: 6%;
          background-color: #213159;
          color: #213159;
        }
        .blank-bars:last-of-type{
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
        h4 {
          font-size:1rem;
          margin: 0;
          margin-left: -4%;
          text-align: center;
          color: #e7e7e7;
        }
      }
    }
  }
}


.resort-details {
  padding-top: 0%;
  padding-left: 0%;
  padding-right: 0%;
  background-color: #e7e7e7;
  h2 {
    font-size: 1.3rem;
    padding-left: 10%;
    margin-top: 1%;
  }
  .resort-grid-list {
    padding-right: 10%;
    padding-left: 10%;
    .grid-card-list {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 2%;
      height: 50%;
      .grid-title {
        background-color: #e7e7e7;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
          font-size: 1.5rem;
        }
        h2 {
          background-color: #b42033;
          padding: 5px;
          color: #e7e7e7;
          border-radius: 10px;
        }
      }
      .grid-body {
        background-color: white;
        display: flex;
      }
      .grid-left {
        width: 50%;
        position:relative;
        background: linear-gradient( rgba(61, 96, 152, 1), rgba(61, 96, 152, 1));
        .grid-image {
          height: 100%;
        }
        
        img {
          width: 100%;
          height: 100%;
          opacity: 0.8;
        }
        .mountain-info {
          display: flex;
          height: 50px;
          width: 100%;
          justify-content: space-around;
          color: #e7e7e7;
          position: absolute;
          bottom: 0%;
          background: linear-gradient( rgba(61, 96, 152, 0.2), rgba(61, 96, 152, 1));
          .mountain-summary {
            display: flex;
            align-items: center;
            margin-left: 2%;
            margin-right: 2%;

            h4 {
              font-size: 0.9rem;
              margin-top: 6px;
            }
          }
        }
      }
      .grid-right {
        width: 50%;
        padding-left: 3%;
        padding-right:3%;
        h1{
          font-size: 2rem;
          margin: 0;
          text-align: center;
          margin-top: 2%;
        }
        h4 {
          font-size: 0.8rem;
          text-align: center;
          margin: 0;
        }
        .resort-buttons {
          margin-top: 3%;
          display: flex;
          justify-content: center;
          button {
            font-family: 'Roboto Mono', monospace;
            padding: 5px;
            width: 150px;
            margin-left: 10px;
            margin-right: 10px;
            background-color: #3d6098;
            color: #e7e7e7;
            font-family: 'Roboto Mono', monospace;
            font-weight: bold;
            border-radius: 10px;
            border: 2px solid #213159;
          }
        }
        .resort-ratings {
          display: flex;
          flex-direction: column;
          .rating-row {
            display: flex;
            align-items: center ;
            justify-content: center;
            margin-bottom: 3%;
            margin-top: 3%;
            .rating-icon {
              width: 7%;
              margin-right: 3%;
              img {
                width: 90%;
              }
            }
            .rating-name {
              h5 {
                margin-right: 3%;
                width: 120px;
                font-size: 1em;
                font-weight: bold;
              }
              p{
                font-size: 0.7rem;
                margin: 0;
                color:#b42033;
                font-weight: bold;
              }
            }
            .rating-detail {
              width: 70%;
              .star-array {
                display: flex;
                margin-bottom: 1%;
              }
              .stars {
                width: 5%;
                margin-left: 1%;
                margin-right: 1%;
                img {
                  width: 100%;
                }
              }
              p {
                font-size: 0.6em;
                margin: 0;
                margin-left: 1%;
              }
            }
          }
        }
      }
    }
  }

}

.colour-icon{
  width: 25px;
  height: 25px;
  margin-right: 5px;
  .beg-colour {
    background-color: #213159;
    color: #213159;
    width: 100%;
    height: 100%;
    // margin-left: 40%;
    border-radius: 10px;
  }
  .int-colour {
    background-color: red;
    color: red;
    width: 100%;
    height: 100%;
    // margin-left: 40%;
    border-radius: 10px;
  }
  .exp-colour {
    background-color: black;
    color: black;
    width: 100%;
    height: 100%;
    // margin-left: 40%;
    border-radius: 10px;
  }
}


// .grid-ranked:first-of-type {
//   background-image: url('../../../public/project-images/mountain_4.jpeg');
//   background-position: center;
//   background-size: cover;
//   background-repeat: no-repeat;
//   height: 10%;
//   width: 10%;
// }